<footer class="footer">
  <div class="Row">
    </div>
    <div class="logo">
    <a href="#">
    <img src="../../../assets/imgs/Plant.svg" alt="" />
    <h2>Farm Guard</h2>
    </a>
    </div>
    <!-- <div class="column description">
          <span class="icon"
              >
            </span>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing
              elit. Praesentium, reprehenderit inventore rem
              doloremque, fugiat, facilis necessitatibus in mollitia
              neque
          </p>
      </div> -->
    <div class="column links">
    <span><a href="">Home</a></span>
    <span><a href="">Jobs</a></span>
    <span><a href="">Press</a></span>
    <span><a href="">Blog</a></span>
    </div>
    <div class="column links">
    <span><a href="">Contact Us</a></span>
    <span><a href="">Terms</a></span>
    <span><a href="">Privacy</a></span>
    </div>
</footer>
