<header class="contain">
    <div class="row">
      <div class="logo">
        <img src="../../../assets/imgs/Plant.svg" alt="Plant">
        <h1>Farm Guard</h1>
      </div>
      <div class="links">
        <ul>
          <li>Home</li>
          <li>Services
            <i class="fa-solid fa-angle-up"></i>
          </li>
          <li>About Us</li>
        </ul>
      </div>
      <div class="log">
        <button type="button" class="login">Login</button>
        <button type="button" class="signup">Sign Up</button>
      </div>
    </div>
</header>
