<div class="contain">
  <div class="Row">
    <div class="farmer sec">
      <div class="overlay"></div>
      <div class="include">
        <h3>For Farmers</h3>
        <!-- <img src="../../../assets/imgs/farmer.jpg" alt=""> -->
        <p>Empowering Farmers with Data-Driven Insights for Improved Agriculture Efficiency</p>
      </div>
    </div>
    <div class="v-bar"></div>
    <div class="argonomist sec">
      <div class="overlay"></div>
      <div class="include">
        <h3>For Agronomist</h3>
        <p>Supporting Agronomists with Advanced Data to Drive Agricultural Innovation and Sustainability</p>
      </div>
    </div>
  </div>
  <div class="Row-2">
    <div class="chart-1">
      <h6>Crop Yield Trends</h6>
      <img src="../../../assets/imgs/chart-farmer.png" alt="">
    </div>
    <div class="chart-2">
      <h6>Nutrient Management Insights</h6>
      <img src="../../../assets/imgs/chart-agronomist.png" alt="">
    </div>
  </div>
</div>
