<div class="contain">
  <div class="row">
    <div class="block">
      <i class="fa-solid fa-chart-line"></i>
      <h6>Statistics</h6>
      <p>For both Farmers and Agronomist</p>
    </div>
    <div class="block">
      <i class="fa-solid fa-lightbulb"></i>
      <h6>Recommendations</h6>
      <p>Lead the farming decision-making</p>
    </div>
    <div class="block">
      <i class="fa-solid fa-newspaper"></i>
      <h6>Educational Articles</h6>
      <p>Secure the future, adabt to change</p>
    </div>
  </div>
</div>
